@model UserManagement.Web.Models.Users.UserListItemViewModel

<h2>User Details</h2>
<div>
	<dl class="row">
		<dt class="col-sm-3">ID:</dt>
		<dd class="col-sm-9">@Model.Id</dd>

		<dt class="col-sm-3">Forename:</dt>
		<dd class="col-sm-9">@Model.Forename</dd>

		<dt class="col-sm-3">Surname:</dt>
		<dd class="col-sm-9">@Model.Surname</dd>

		<dt class="col-sm-3">Email:</dt>
		<dd class="col-sm-9">@Model.Email</dd>

		<dt class="col-sm-3">DateofBirth:</dt>
		<dd class="col-sm-9">@Model.DateofBirth.ToString("MM/dd/yyyy")</dd>

		<dt class="col-sm-3">IsActive:</dt>
		<dd class="col-sm-9">@Model.IsActive</dd>

	</dl>
</div>

<div>
	<a asp-controller="Users" asp-action="List" class="btn btn-primary">Back to List</a>
</div>
